*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
   
  body {
    font: 100% sans-serif;
    margin: 0em;
    background-color:  #FAF9F5;
    color: black;
    font-family: 'Poppins', sans-serif;
    height: 100%;
  }
  html, body {
      min-height: 100%!important;
      scroll-behavior: smooth!important;
  }

  

  .nav {
    width: 100%;
    position: fixed;
    justify-content: flex-end;
    background: #FAF9F5;
    box-shadow: 0px 2px 2px rgb(161, 161, 161);
    top: 0px;
    left: 0px;
    z-index: 100;
}
.nav-list {
    float: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.nav-list li {
    margin-right: 2rem;
}
.nav-list li:hover {
    background: black;
    transform: scale(1.5);
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
}
.nav-list a, a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}
.logo {
    margin: 1rem 1rem;
    padding: 0;
    float: left;
    width: auto;
    height: 80%;
    color: transparent;
    background-color: yellow;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.logo:hover {
    color: black;
    background-color: white;
}
  h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
  

  

  
  p {
    font-size: 1em;
    line-height: 1.8;
    margin-top: 0em;
  }
  
  img {
    max-width: 100%;
  }
  
  hr {
    border-top: 1px solid #ccc;
    border-bottom: none;
    margin-top: 3em;
    margin-bottom: 2em;
  }
  
  
  h1 {
    color: white;
    font-size: 2em;
    margin: 0;
    letter-spacing: 1px;
    opacity: 1;
    text-shadow: 0 3px 0 rgba(0,0,0, 0.5);
    position: relative;
    top: 370px;
    font-weight: 700;
  }
  
  header p {
    color: #fff;
    font-size: 1.1em;
    padding-bottom: 1.3em;
    padding-top: .5em;
    opacity: .9;
    position: relative;
    top: 360px;
  }
  
  section h1 {
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: .6em;
  }
  
  /* Same font-size and line-height as p element */
  section ul li, section ol li {
    font-size: 1em;
    margin-left: -10px;
    line-height: 1.8;
  }
  
  footer {
    bottom: 0;
    margin: 0;
    padding: 0 1rem;
    width:100%; 
    height: 60px;
    box-shadow: 0px -2px 2px rgb(161, 161, 161);
    text-align: center;
 }
.back {
    margin-top: 1rem;
    width: 100%;
    text-decoration: none;
}
.bot {
    bottom: 0px;
}
.copy-right {
    float: left;
}
.icon {
    float: right;
    margin-right: 10px;
}
.small-icon {
    width: 20px;
    height: 20px;
    margin-left: 7px;
}

 hr {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  
  .center {
    width: 800px;
    margin: 0 auto;
    text-align: left;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
  }
  .profile {
    object-fit: contain;
    width: 100%;
    height: 100%;
    justify-items: left!important;
    align-self: left!important;
  }
  .intro {
      width: 30rem;
      justify-self: left;
      align-self: center;
  }
  
header {
    height: 4rem;
}

@media (max-width: 600px) {
    header {
        height: 10rem;
    }
}

  @media screen and (min-width: 50em) {
    
    header h1 {
      font-size: 3.2em;
      top: 540px;
    }
    
    header p {
      top: 530px;
      font-size: 1.5em;
    }
  }
  
  
  .container {
    max-width: 50em;
    width:92%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
    clear: both;
    margin-right: -1%;
    margin-left:  -1%;
    
  }
  
  .row:before,
  .row:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .row:after {
      clear: both;
  }
  
  /**
   * For IE 6/7 only
   */
  .row {
    *zoom: 1;
  }
  
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6 {
    float: left;
    width:100%;
    padding: 0 1%;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media screen and (min-width: 40em) {
    .grid-1 { width: 16.6666666%; }
    .grid-2 { width: 33.3333333%; }
    .grid-3 { width: 50%; }
    .grid-4 { width: 66.6666666%; }
    .grid-5 { width: 83.3333333%; }
    .grid-6 { width: 100%; }
  
  }
  
  
  
  /* Experience */
  .experience [class*="row"] {
    border-bottom: dotted 1px #ccc;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  .experience h2 {
    margin-bottom: 0;
  }
  
  .experience h2, .experience p {
    text-align: center;
  }
  
  .experience [class*="row"]:last-of-type {
    border: none;
  }
  
  @media screen and (min-width: 40em) {
    .experience h2, .experience p {
      text-align: left;
    }
  }
  
  
  /* Education Block */
  .education {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 40em) {
    .education {
      width: 70%;
    }
  }

.skill-div {
    margin-bottom: 50px;
}

.edu {
    width: 70%;
    text-align: center;
    margin: auto;
}