<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="../js/jquery.js"></script> 
    <script> 
    $(function(){
        var includes = $('[data-include]');
        jQuery.each(includes, function(){
        var file = $(this).data('include') + '.html';
        $(this).load(file);
        });
        });
    </script>
  <script>
    var index2 = 0;
    var index3 = 0;
    var index4 = 0;
    $(function(){
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(this).attr('href');
            //设置激活标签对应div的高度
            $(target).css("height","100%");
            if(target === "#d1"){
                $(document).ready(function () {
                    $("#d1 .iframeurl").attr('src','hosp_rate.html');
                });
            }else if(target === "#d2" && index2 === 0){
                $(document).ready(function () {
                    $("#d2 .iframeurl").attr('src','testing_rate.html');
                });
                index2 ++ ;
            }else if(target === "#d3" && index3 === 0){
                $(document).ready(function () {
                    $("#d3 .iframeurl").attr('src','mortality_rate.html');
                });
                index3 ++ ;
            }
            else if(target === "#d4" && index4 === 0){
                $(document).ready(function () {
                    $("#d4 .iframeurl").attr('src','hosp_rate.html');
                });
                index4 ++ ;
            }
            });
        });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    
    <!-- Custom styles for this template >
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    
    <link th:href="@{/css/style.css}" rel="stylesheet" /-->
    <link rel="stylesheet" type="text/css" href="../css/covid.css">
    <title>COVID_19 Visual</title>
    <link rel="shortcut icon" href="../img/icon.ico">
</head>
<body>
    <a id="top"></a>
    <header>
        <nav id="navbar" class="hder-nav">
            <ul id="nav-ul" class="hder-nav-list">
                <li><a class="hder-nav-list-a" href="#top">COVID-19</a></li>
                <li><a class="hder-nav-list-a" href="../html/hobbies.html">Hobbies</a></li>
                <li><a class="hder-nav-list-a" href="../html/resume.html">Resume</a></li>
                <li><a class="hder-nav-list-a" href="../html/contact.html">Contact</a></li>
            </ul>
            <a class="hder-logo hder-nav-list-a" href="/index.html">Jiarui Jiang</a>
        </nav>
    </header>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="tab-1" data-toggle="tab" href="#d1"">Confirmed Cases</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="tab-2" data-toggle="tab" href="#d2">Testing Rate</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="tab-3" data-toggle="tab" href="#d3">Mortality Rate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-4" data-toggle="tab" href="#d4">Hospitalization Rate</a>
                  </li>
              </ul>
            <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item"><a class="nav-link active"
                    id="home-tab" data-toggle="tab" href="#tab-1" role="tab"
                    aria-controls="home" aria-selected="true">Confirmed Cases</a></li>
                <li class="nav-item"><a class="nav-link "
                    id="profile-tab" data-toggle="tab" href="#tab-2" role="tab"
                    aria-controls="profile" aria-selected="false">Testing Rate</a></li>
                <li class="nav-item"><a class="nav-link "
                    id="profile-tab" data-toggle="tab" href="#tab-3" role="tab"
                    aria-controls="profile" aria-selected="false">Mortality Rate</a></li>
                <li class="nav-item"><a class="nav-link "
                    id="profile-tab" data-toggle="tab" href="#tab-4" role="tab"
                    aria-controls="profile" aria-selected="false">Hospitalization Rate</a></li>
            </ul> -->
            <div class="tab-content" id="myTabContent">
                <!-- <div class="tab-pane fade show active" id="d11" data-src="confirmed.html"> -->
                    <!-- <div data-include="confirmed" style="max-height: 100%; max-width: 100%; height: 100%; width: 100%;"></div> -->
                    <div class="tab-pane fade show active embed-responsive embed-responsive-21by9" id="d1" data-src="confirmed.html">
                    <iframe src="confirmed.html" width="95%" height="100%" frameborder="0" scrolling="no">
                    </iframe>
                    </div>
                <!-- <div class="tab-pane fade" id="d22" data-src="testing_rate.html"> -->
                    <div class="tab-pane fade embed-responsive embed-responsive-21by9" id="d2" data-src="testing_rate.html">
                    <iframe class="iframeurl" width="95%" height="100%" frameborder="0" scrolling="no">
                        </iframe>  
                    </div>
                <!-- <div class="tab-pane fade " id="d3"  data-src="mortality_rate.html"> -->
                    <div class="tab-pane fade embed-responsive embed-responsive-21by9" id="d3" data-src="mortality_rate.html">
                    <iframe class="iframeurl" width="95%" height="100%" frameborder="0" scrolling="no">  
                        </iframe>
                    </div>
                <!-- <div class="tab-pane fade" id="d4" data-src="hosp_rate.html"> -->
                    <div class="tab-pane fade embed-responsive embed-responsive-21by9" id="d4" data-src="hosp_rate.html">
                    <iframe class="iframeurl" width="95%" height="100%" frameborder="0" scrolling="no">                        
                        </iframe>
                    </div>
            </div>
        </div>
    </div>
 
    
    <footer class="hder-footer">
        <a class="hder-back hder-nav-list-a" href="#top">BACK TO THE TOP</a>
        <div class="hder-bot">
            <div class="hder-copy-right">&copy;2021 Jiarui Jiang</div>
            <div class="hder-icon">
                <a href="https://www.facebook.com/profile.php?id=100005314714837" target="_blank"><img class="hder-small-icon" src="../img/facebook-small.png" alt="facebook-small"></a>
                <a href="https://github.com/GuoooooJing" target="_blank"><img class="hder-small-icon" src="../img/github-small.png" alt="github-small"></a>
                <a href="https://www.linkedin.com/in/-jiarui-jiang/" target="_blank"><img class="hder-small-icon" src="../img/linkedin-small.png" alt="linkedin-small"></a>
            </div>
        </div>
        
    </footer>

    <script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script th:src="@{../js/scripts.js}"></script>
</body>



</html>